<div class="modal fade" id="rejected-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">The game has been rejected</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    socket.on('game_rejected', function () {
        console.log("game rejected");
        closeEveryModals();
        $('#rejected-modal').modal();
    });
</script>